@use "variables";

.card {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 1rem;
  background: white;
  h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid variables.$gray;
    span {
      color: variables.$primary;
    }
  }
  .text {
    color: #333;
  }
}
